/* UNIVERSAL =====================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #222;
}

:root {
  --primary-color: #1c6758;
  --secondary-color: #549b8a;
}

.button {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  border: none;
  border-radius: 0.25rem;
  color: #fff;
}

.button:hover,
.button:active {
  background: var(--primary-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* MODALS ======================================================*/

.modal {
  position: relative;
}

.modal__window {
  position: fixed;
  z-index: 3;
  width: 25%;
  min-width: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 1.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.modal__content-div {
  background-color: #fff;
  padding: 2rem 1rem 3rem;
}

.modal__button-div {
  background-color: #fff;
  padding: 0 2rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

/* ERRORS ======================================================*/
.error__card {
  width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #ffa17a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  animation: fade_in 200ms ease-in;
}

.error__hidden {
  opacity: 0;
  transform: translate(-50% -50%);
  animation: fade_out 200ms ease-in;
}

@keyframes fade_in {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}

/* SIGN IN =====================================================*/
.sign-in__main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(/images/mike-lewis-headsmart-media-waAAaeC9hns-unsplash.jpg);
  background-repeat: no-repeat;
}

.sign-in__titles {
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem 2rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.sign-in__card {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.sign-in__title {
  text-align: center;
  color: white;
  font-size: 4rem;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: -2px;
}

.sign-in__sub-title {
  text-align: center;
  color: white;
  font-size: 1rem;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
}

.sign-in__form {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  gap: 1.5rem;
}

.sign-in__input-div {
  border: 1px solid #999;
  border-radius: 0.25rem;
  overflow: hidden;
}

.sign-in__input {
  font-size: 1rem;
  display: flex;
  background-color: rgb(240, 240, 240);
  padding: 0.25rem;
  border: none;
}

.sign-in__input:first-child {
  border-bottom: 1px solid #999;
}

.sign-in__buttons-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* JOURNALS =====================================================*/

.journals__main {
  height: 100vh;
  padding-top: 10rem;
  background: linear-gradient(#fff, var(--secondary-color));
}

.journals__card {
  background-color: #fff;
  border-radius: 1rem;
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  height: 70%;
  max-height: 70%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.journals__add-button {
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
  font-size: 2rem;
}

.journals__title-div {
  padding: 1rem;
  color: #101010;
  border-bottom: 2px dotted var(--primary-color);
  width: 80%;
  margin: 0 auto;
}

.journals__title-div:hover {
  cursor: pointer;
}

.journals__title-div:hover h2 {
  text-decoration: underline;
}

/* ENTRIES =====================================================*/

.entries__add-button {
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
  font-size: 2rem;
}

.entries__back-arrow {
  width: 3rem;
  position: absolute;
  bottom: 0;
}
