/* UNIVERSAL =====================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #222;
}

:root {
  --primary-color: #1c6758;
  --secondary-color: #549b8a;
}

.button {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  align-self: flex-start;
}

.button:hover,
.button:active {
  background: var(--primary-color);
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  border: none;
  background-color: #fff;
}

.icon:hover {
  cursor: pointer;
}

.fancy {
  font-family: "Satisfy", cursive;
}

.app__page {
  height: 100vh;
}

.app__container {
  height: 92%;
}

/* MODALS ======================================================*/

.modal {
  position: relative;
}

.modal__window {
  position: fixed;
  z-index: 3;
  width: 25%;
  min-width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 1.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.modal__content-div {
  background-color: #fff;
  padding: 2rem 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.modal__button-div {
  background-color: #fff;
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.modal__input {
  background-color: rgb(221, 221, 221);
  width: 50%;
  min-width: 12rem;
  font-size: 1.5rem;
  text-align: center;
}

/* ERRORS ======================================================*/
.error__card {
  width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #ffa17a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  animation: fade_in 200ms ease-in;
}

.error__hidden {
  opacity: 0;
  transform: translate(-50% -50%);
  animation: fade_out 200ms ease-in;
}

@keyframes fade_in {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}

/* SIGN IN =====================================================*/
.sign-in__main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sign-in__img {
  text-align: center;
}

.sign-in__img img {
  opacity: 0.75;
}

.sign-in__titles {
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem 2rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.sign-in__card {
  width: fit-content;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.sign-in__title {
  text-align: center;
  color: white;
  font-size: 4rem;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: -2px;
}

.sign-in__sub-title {
  text-align: center;
  color: white;
  font-size: 1rem;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
}

.sign-in__form {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  gap: 1.5rem;
}

.sign-in__input-div {
  border: 1px solid #999;
  border-radius: 0.25rem;
  overflow: hidden;
}

.sign-in__input {
  font-size: 1rem;
  display: flex;
  background-color: rgb(240, 240, 240);
  padding: 0.25rem;
  border: none;
}

.sign-in__input:first-child {
  border-bottom: 1px solid #999;
}

.sign-in__buttons-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* NAV ==========================================================*/
.nav {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__icons-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__back-arrow,
.nav__sign-out {
  width: 2rem;
}

.nav__back-arrow:hover,
.nav__sign-out:hover {
  cursor: pointer;
}

.nav__icon {
  position: relative;
}

.nav__icon .nav__tooltip {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  bottom: -2.25rem;
  left: -3rem;
  width: max-content;
  transition: opacity 200ms ease-in-out;
}

.nav__icon:hover .nav__tooltip {
  opacity: 1;
}

/* JOURNALS =====================================================*/

.journals__main {
  height: 100%;
  padding: 2% 0;
  background: linear-gradient(#fff, var(--secondary-color));
}

.journals__card {
  background-color: #fff;
  border-radius: 1rem;
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.journals__add-button {
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
  font-size: 2rem;
}

.journals__title-div {
  padding: 1rem;
  color: #333;
  border-bottom: 2px dotted var(--primary-color);
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.journals__btn-div {
  display: flex;
  gap: 1rem;
}

.journals__title:hover {
  cursor: pointer;
}

.journals__journal-info {
  width: 50%;
}

.journals__title {
  word-wrap: break-word;
}

.journals__none-message {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10%;
}

@media (max-width: 600px) {
  .journals__main {
    padding: 4rem 0;
  }

  .journals__card {
    height: 90%;
    max-height: 90%;
  }
}

/* ENTRIES =====================================================*/

.entries__add-button {
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
  font-size: 2rem;
}

.entries__back-arrow {
  width: 3rem;
  position: absolute;
  bottom: 8%;
  left: 8%;
}

.entry__card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 100%;
  width: 25rem;
  min-width: 30%;
  margin: 0 auto;
}

.entries__title-div {
  padding: 1rem;
  color: #333;
  border-bottom: 2px dotted var(--primary-color);
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.entries__header {
  display: flex;
  justify-content: space-between;
}

.entries__text-content {
  word-wrap: break-word;
}

.entry__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.entry__title-input,
.entry__content-input {
  width: 100%;
}

.entry__input {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
}

.entry__textarea {
  display: inline-block;
  width: 100%;
  min-width: 12rem;
  min-height: 20rem;
  resize: none;
  font-size: 1rem;
}

.entry__btn-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* HIDDEN ============================================*/
.hidden {
  display: none;
}
